.sectionHome {
  height: calc(100vh - 69px);
  background: center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}
.sectionHomeContainer {
  color: #fff;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 69px);
  background-color: rgba(0, 0, 0, 0.2);
}

.homeContainer {
  width: 95%;
  height: calc(100vh - 69px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sectionHomeHeader {
  font-size: 36px;
  font-weight: 700px;
  margin-bottom: 40px;
}

.sectionHomeLink {
  padding: 8px 40px;
  color: white;
  border: 3px solid white;
  text-decoration: none;
  font-size: 18px;
  transition: 1s;
}

.sectionHomeInfo {
  margin-bottom: 35px;
}

.sectionHomeLink:hover {
  color: black;
  background: white;
}
.sectionHomeLink {
  padding: 8px 40px;
  color: white;
  border: 3px solid white;
  text-decoration: none;
  font-size: 18px;
  transition: 1s;
}
@media screen and (min-width: 1024px) {
  .homeContainer {
    width: 62%;
  }
}
