.specialistPhoto {
  width: 197px;
  height: 197px;
  background: gray;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.specialist {
  display: flex;

  gap: 60px;
  align-items: center;
}
.specialist:nth-of-type(even) {
  margin-bottom: 40px;
}

.specialistName {
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
}
.specialistDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 197px;
}
