.footerP {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.footer {
  background-color: #333;
  color: white;
  padding: 30px;
  font-size: 18px;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerUl {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footerLi {
  margin-right: 20px;
}

.footerLi:last-child {
  margin-right: 0;
}

.footerA {
  color: white;
  text-decoration: none;
}
