.sectionInfoForSpecjalist {
  font-weight: 700;
  background-color: #405d78;
}
.sectionHomeSpecialists {
  padding: 40px 0;
  color: #152d41;
  font-size: 36px;
}
.specjialistSection {
  color: #fff;
  padding: 45px 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
